In [1]:
0 # Import libraries and set up technical features

import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

from sklearn.metrics import confusion_matrix, classification_report

import numpy as np

%ls

pd.options.display.max_columns = 70
pd.options.display.max_rows = 122

 El volumen de la unidad C es Windows
 El n√∫mero de serie del volumen es: 788B-24D1

 Directorio de C:\Users\javie\OneDrive\Escritorio\Ironhack\Semana 3\PROJECT\Banking-Risk

01/02/2024  00:29    <DIR>          .
30/01/2024  22:31    <DIR>          ..
31/01/2024  19:44    <DIR>          .ipynb_checkpoints
31/01/2024  18:28           156.192 analysis.ipynb
31/01/2024  18:41       166.133.370 application_data.csv
29/01/2024  18:06             8.884 Columns.txt
01/02/2024  00:29           152.718 New_scoring.ipynb
31/01/2024  18:31            39.678 new_target.ipynb
30/01/2024  09:44                14 README.md
31/01/2024  18:28           307.952 Risk_Banking.ipynb
31/01/2024  18:25        51.919.282 risk_df.csv
31/01/2024  19:43                72 Untitled.ipynb
               9 archivos    218.718.162 bytes
               3 dirs  374.219.526.144 bytes libres

In [2]:
risk_tg = pd.read_csv('risk_df.csv')

In [3]:
risk_tg

,id,target,loan_type,gender,own_car,own_realty,children,client_income,credit_amount,loan_annuity,goods_price,client_income_type,education,family_status,housing_situation,car_age,client_ocupation,family_members,region_rating,city_rating,ext_score_1,ext_score_2,ext_score_3,obs_30,def_30,obs_60,def_60,req_hour,req_day,req_week,req_mon,req_qrt,req_year
0,100002,High Risk,Cash loans,M,No,Yes,0,202500.0,406597.5,24700.5,351000.0,Working,Secondary,Single,Ownership,12.06,Laborers,1,2,2,0.08,0.26,0.14,2,2,2,2,0,0,0,0,0,1
1,100003,Low Risk,Cash loans,F,No,No,0,270000.0,1293502.5,35698.5,1129500.0,State servant,Higher education,Married,Ownership,12.06,Core,2,1,1,0.31,0.62,0.51,1,0,1,0,0,0,0,0,0,0
2,100004,Low Risk,Revolving loans,M,Yes,Yes,0,67500.0,135000.0,6750.0,135000.0,Working,Secondary,Single,Ownership,26.00,Laborers,1,2,2,0.50,0.56,0.73,0,0,0,0,0,0,0,0,0,0
3,100006,Low Risk,Cash loans,F,No,Yes,0,135000.0,312682.5,29686.5,297000.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.65,0.51,2,0,2,0,0,0,0,0,0,2
4,100007,Low Risk,Cash loans,M,No,Yes,0,121500.0,513000.0,21865.5,513000.0,Working,Secondary,Single,Ownership,12.06,Core,1,2,2,0.50,0.32,0.51,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,456251,Low Risk,Cash loans,M,No,No,0,157500.0,254700.0,27558.0,225000.0,Working,Secondary,Separated,Living with parents,12.06,Sales,1,1,1,0.15,0.68,0.51,0,0,0,0,0,0,0,0,0,2
307501,456252,Low Risk,Cash loans,F,No,Yes,0,72000.0,269550.0,12001.5,225000.0,Pensioner,Secondary,Widow,Ownership,12.06,Laborers,1,2,2,0.50,0.12,0.51,0,0,0,0,0,0,0,0,0,2
307502,456253,Low Risk,Cash loans,F,No,Yes,0,153000.0,677664.0,29979.0,585000.0,Working,Higher education,Separated,Ownership,12.06,Managers,1,3,3,0.74,0.54,0.22,6,0,6,0,1,0,0,1,0,1
307503,456254,High Risk,Cash loans,F,No,Yes,0,171000.0,370107.0,20205.0,319500.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.51,0.66,0,0,0,0,0,0,0,0,0,0
307504,456255,Low Risk,Cash loans,F,No,No,0,157500.0,675000.0,49117.5,675000.0,Working,Higher education,Married,Ownership,12.06,Laborers,2,1,1,0.73,0.71,0.11,0,0,0,0,0,0,0,2,0,1

In [4]:
# Create a new variable with the pending year of credit for each client

risk_tg['loan_year']= risk_tg.credit_amount / risk_tg.loan_annuity

risk_tg.loan_year = np.ceil(risk_tg.loan_year).astype(int)

risk_tg.insert(10, 'loan_year', risk_tg.pop('loan_year'))

In [5]:
# Create a new variable with loan amortization by month

risk_tg['loan_mon']= (risk_tg.loan_annuity / 12).round(1)

risk_tg.insert(9, 'loan_mon', risk_tg.pop('loan_mon'))


risk_tg

,id,target,loan_type,gender,own_car,own_realty,children,client_income,credit_amount,loan_mon,loan_annuity,loan_year,goods_price,client_income_type,education,family_status,housing_situation,car_age,client_ocupation,family_members,region_rating,city_rating,ext_score_1,ext_score_2,ext_score_3,obs_30,def_30,obs_60,def_60,req_hour,req_day,req_week,req_mon,req_qrt,req_year
0,100002,High Risk,Cash loans,M,No,Yes,0,202500.0,406597.5,2058.4,24700.5,17,351000.0,Working,Secondary,Single,Ownership,12.06,Laborers,1,2,2,0.08,0.26,0.14,2,2,2,2,0,0,0,0,0,1
1,100003,Low Risk,Cash loans,F,No,No,0,270000.0,1293502.5,2974.9,35698.5,37,1129500.0,State servant,Higher education,Married,Ownership,12.06,Core,2,1,1,0.31,0.62,0.51,1,0,1,0,0,0,0,0,0,0
2,100004,Low Risk,Revolving loans,M,Yes,Yes,0,67500.0,135000.0,562.5,6750.0,20,135000.0,Working,Secondary,Single,Ownership,26.00,Laborers,1,2,2,0.50,0.56,0.73,0,0,0,0,0,0,0,0,0,0
3,100006,Low Risk,Cash loans,F,No,Yes,0,135000.0,312682.5,2473.9,29686.5,11,297000.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.65,0.51,2,0,2,0,0,0,0,0,0,2
4,100007,Low Risk,Cash loans,M,No,Yes,0,121500.0,513000.0,1822.1,21865.5,24,513000.0,Working,Secondary,Single,Ownership,12.06,Core,1,2,2,0.50,0.32,0.51,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,456251,Low Risk,Cash loans,M,No,No,0,157500.0,254700.0,2296.5,27558.0,10,225000.0,Working,Secondary,Separated,Living with parents,12.06,Sales,1,1,1,0.15,0.68,0.51,0,0,0,0,0,0,0,0,0,2
307501,456252,Low Risk,Cash loans,F,No,Yes,0,72000.0,269550.0,1000.1,12001.5,23,225000.0,Pensioner,Secondary,Widow,Ownership,12.06,Laborers,1,2,2,0.50,0.12,0.51,0,0,0,0,0,0,0,0,0,2
307502,456253,Low Risk,Cash loans,F,No,Yes,0,153000.0,677664.0,2498.2,29979.0,23,585000.0,Working,Higher education,Separated,Ownership,12.06,Managers,1,3,3,0.74,0.54,0.22,6,0,6,0,1,0,0,1,0,1
307503,456254,High Risk,Cash loans,F,No,Yes,0,171000.0,370107.0,1683.8,20205.0,19,319500.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.51,0.66,0,0,0,0,0,0,0,0,0,0
307504,456255,Low Risk,Cash loans,F,No,No,0,157500.0,675000.0,4093.1,49117.5,14,675000.0,Working,Higher education,Married,Ownership,12.06,Laborers,2,1,1,0.73,0.71,0.11,0,0,0,0,0,0,0,2,0,1

In [6]:
print(risk_tg.loan_year.max())
print(risk_tg.loan_year.min())

55
6

In [19]:
# New varibale creation 'loan_term'

condition_1 = risk_tg['loan_year'] < 10
condition_2 = (risk_tg['loan_year'] >= 10) & (risk_tg['loan_year'] < 20)
condition_3 = (risk_tg['loan_year'] >= 20) & (risk_tg['loan_year'] < 30)
condition_4 = (risk_tg['loan_year'] >= 30) & (risk_tg['loan_year'] < 40)
condition_5 = risk_tg['loan_year'] >= 40


risk_tg.loc[condition_1, 'loan_term'] = 'Flash'
risk_tg.loc[condition_2, 'loan_term'] = 'Low Term'
risk_tg.loc[condition_2, 'loan_term'] = 'Middle Term'
risk_tg.loc[condition_3, 'loan_term'] = 'Long Term'
risk_tg.loc[condition_4, 'loan_term'] = 'Methuselah'

risk_tg.insert(12, 'loan_term', risk_tg.pop('loan_term'))

risk_tg

,id,target,loan_type,gender,own_car,own_realty,children,client_income,credit_amount,loan_mon,loan_annuity,loan_year,loan_term,def_initial,def_5,def_10,def_15,def_20,goods_price,client_income_type,education,family_status,housing_situation,car_age,client_ocupation,family_members,region_rating,city_rating,ext_score_1,ext_score_2,ext_score_3,obs_30,def_30,obs_60,def_60,req_hour,req_day,req_week,req_mon,req_qrt,req_year,category
0,100002,High Risk,Cash loans,M,No,Yes,0,202500.0,406597.5,2058.4,24700.5,17,Middle Term,0.1,0.2,0.3,0.4,0.5,351000.0,Working,Secondary,Single,Ownership,12.06,Laborers,1,2,2,0.08,0.26,0.14,2,2,2,2,0,0,0,0,0,1,Low Risk
1,100003,Low Risk,Cash loans,F,No,No,0,270000.0,1293502.5,2974.9,35698.5,37,Methuselah,0.2,0.3,0.4,0.5,0.6,1129500.0,State servant,Higher education,Married,Ownership,12.06,Core,2,1,1,0.31,0.62,0.51,1,0,1,0,0,0,0,0,0,0,High Risk
2,100004,Low Risk,Revolving loans,M,Yes,Yes,0,67500.0,135000.0,562.5,6750.0,20,Long Term,0.1,0.2,0.3,0.4,0.5,135000.0,Working,Secondary,Single,Ownership,26.00,Laborers,1,2,2,0.50,0.56,0.73,0,0,0,0,0,0,0,0,0,0,Low Risk
3,100006,Low Risk,Cash loans,F,No,Yes,0,135000.0,312682.5,2473.9,29686.5,11,Middle Term,0.1,0.2,0.3,0.4,0.5,297000.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.65,0.51,2,0,2,0,0,0,0,0,0,2,Low Risk
4,100007,Low Risk,Cash loans,M,No,Yes,0,121500.0,513000.0,1822.1,21865.5,24,Long Term,0.1,0.2,0.3,0.4,0.5,513000.0,Working,Secondary,Single,Ownership,12.06,Core,1,2,2,0.50,0.32,0.51,0,0,0,0,0,0,0,0,0,0,Low Risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,456251,Low Risk,Cash loans,M,No,No,0,157500.0,254700.0,2296.5,27558.0,10,Middle Term,0.1,0.2,0.3,0.4,0.5,225000.0,Working,Secondary,Separated,Living with parents,12.06,Sales,1,1,1,0.15,0.68,0.51,0,0,0,0,0,0,0,0,0,2,Low Risk
307501,456252,Low Risk,Cash loans,F,No,Yes,0,72000.0,269550.0,1000.1,12001.5,23,Long Term,0.1,0.2,0.3,0.4,0.5,225000.0,Pensioner,Secondary,Widow,Ownership,12.06,Laborers,1,2,2,0.50,0.12,0.51,0,0,0,0,0,0,0,0,0,2,Low Risk
307502,456253,Low Risk,Cash loans,F,No,Yes,0,153000.0,677664.0,2498.2,29979.0,23,Long Term,0.1,0.2,0.3,0.4,0.5,585000.0,Working,Higher education,Separated,Ownership,12.06,Managers,1,3,3,0.74,0.54,0.22,6,0,6,0,1,0,0,1,0,1,Low Risk
307503,456254,High Risk,Cash loans,F,No,Yes,0,171000.0,370107.0,1683.8,20205.0,19,Middle Term,0.1,0.2,0.3,0.4,0.5,319500.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.51,0.66,0,0,0,0,0,0,0,0,0,0,Low Risk
307504,456255,Low Risk,Cash loans,F,No,No,0,157500.0,675000.0,4093.1,49117.5,14,Middle Term,0.1,0.2,0.3,0.4,0.5,675000.0,Working,Higher education,Married,Ownership,12.06,Laborers,2,1,1,0.73,0.71,0.11,0,0,0,0,0,0,0,2,0,1,Low Risk

In [8]:
risk_tg.loan_term.value_counts()

loan_term
Middle Term    202127
Long Term       61827
Methuselah      38759
Flash            4792
Name: count, dtype: int64

In [20]:
# New varibale creation 'def_initial'

risk_tg['def_initial'] = 0.00  

# Asignar valores basados en la duraci√≥n del pr√©stamo
risk_tg.loc[risk_tg['loan_term'] == 'Low Term', 'def_initial'] = 0.10
risk_tg.loc[risk_tg['loan_term'] == 'Middle Term', 'def_initial'] = 0.15
risk_tg.loc[risk_tg['loan_term'] == 'Long Term', 'def_initial'] = 0.20
risk_tg.loc[risk_tg['loan_term'] == 'Methuselah', 'def_initial'] = 0.25
risk_tg.loc[risk_tg['loan_term'] == 'Flash', 'def_initial'] = 0.05

risk_tg.def_initial = risk_tg.def_initial.round(2)

risk_tg.insert(13, 'def_initial', risk_tg.pop('def_initial'))

risk_tg

,id,target,loan_type,gender,own_car,own_realty,children,client_income,credit_amount,loan_mon,loan_annuity,loan_year,loan_term,def_initial,def_5,def_10,def_15,def_20,goods_price,client_income_type,education,family_status,housing_situation,car_age,client_ocupation,family_members,region_rating,city_rating,ext_score_1,ext_score_2,ext_score_3,obs_30,def_30,obs_60,def_60,req_hour,req_day,req_week,req_mon,req_qrt,req_year,category
0,100002,High Risk,Cash loans,M,No,Yes,0,202500.0,406597.5,2058.4,24700.5,17,Middle Term,0.15,0.2,0.3,0.4,0.5,351000.0,Working,Secondary,Single,Ownership,12.06,Laborers,1,2,2,0.08,0.26,0.14,2,2,2,2,0,0,0,0,0,1,Low Risk
1,100003,Low Risk,Cash loans,F,No,No,0,270000.0,1293502.5,2974.9,35698.5,37,Methuselah,0.25,0.3,0.4,0.5,0.6,1129500.0,State servant,Higher education,Married,Ownership,12.06,Core,2,1,1,0.31,0.62,0.51,1,0,1,0,0,0,0,0,0,0,High Risk
2,100004,Low Risk,Revolving loans,M,Yes,Yes,0,67500.0,135000.0,562.5,6750.0,20,Long Term,0.20,0.2,0.3,0.4,0.5,135000.0,Working,Secondary,Single,Ownership,26.00,Laborers,1,2,2,0.50,0.56,0.73,0,0,0,0,0,0,0,0,0,0,Low Risk
3,100006,Low Risk,Cash loans,F,No,Yes,0,135000.0,312682.5,2473.9,29686.5,11,Middle Term,0.15,0.2,0.3,0.4,0.5,297000.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.65,0.51,2,0,2,0,0,0,0,0,0,2,Low Risk
4,100007,Low Risk,Cash loans,M,No,Yes,0,121500.0,513000.0,1822.1,21865.5,24,Long Term,0.20,0.2,0.3,0.4,0.5,513000.0,Working,Secondary,Single,Ownership,12.06,Core,1,2,2,0.50,0.32,0.51,0,0,0,0,0,0,0,0,0,0,Low Risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,456251,Low Risk,Cash loans,M,No,No,0,157500.0,254700.0,2296.5,27558.0,10,Middle Term,0.15,0.2,0.3,0.4,0.5,225000.0,Working,Secondary,Separated,Living with parents,12.06,Sales,1,1,1,0.15,0.68,0.51,0,0,0,0,0,0,0,0,0,2,Low Risk
307501,456252,Low Risk,Cash loans,F,No,Yes,0,72000.0,269550.0,1000.1,12001.5,23,Long Term,0.20,0.2,0.3,0.4,0.5,225000.0,Pensioner,Secondary,Widow,Ownership,12.06,Laborers,1,2,2,0.50,0.12,0.51,0,0,0,0,0,0,0,0,0,2,Low Risk
307502,456253,Low Risk,Cash loans,F,No,Yes,0,153000.0,677664.0,2498.2,29979.0,23,Long Term,0.20,0.2,0.3,0.4,0.5,585000.0,Working,Higher education,Separated,Ownership,12.06,Managers,1,3,3,0.74,0.54,0.22,6,0,6,0,1,0,0,1,0,1,Low Risk
307503,456254,High Risk,Cash loans,F,No,Yes,0,171000.0,370107.0,1683.8,20205.0,19,Middle Term,0.15,0.2,0.3,0.4,0.5,319500.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.51,0.66,0,0,0,0,0,0,0,0,0,0,Low Risk
307504,456255,Low Risk,Cash loans,F,No,No,0,157500.0,675000.0,4093.1,49117.5,14,Middle Term,0.15,0.2,0.3,0.4,0.5,675000.0,Working,Higher education,Married,Ownership,12.06,Laborers,2,1,1,0.73,0.71,0.11,0,0,0,0,0,0,0,2,0,1,Low Risk

In [10]:
risk_tg.def_initial.value_counts()

def_initial
0.10    202127
0.15     61827
0.20     38759
0.05      4792
Name: count, dtype: int64

In [21]:
# Year proyection from 5 to 25 years

risk_tg['def_5'] = risk_tg['def_initial'] + 0.10
risk_tg['def_10'] = risk_tg['def_initial'] + 0.20
risk_tg['def_15'] = risk_tg['def_initial'] + 0.30
risk_tg['def_20'] = risk_tg['def_initial'] + 0.40

risk_tg.insert(14, 'def_5', risk_tg.pop('def_5'))
risk_tg.insert(15, 'def_10', risk_tg.pop('def_10'))
risk_tg.insert(16, 'def_15', risk_tg.pop('def_15'))
risk_tg.insert(17, 'def_20', risk_tg.pop('def_20'))

risk_tg

,id,target,loan_type,gender,own_car,own_realty,children,client_income,credit_amount,loan_mon,loan_annuity,loan_year,loan_term,def_initial,def_5,def_10,def_15,def_20,goods_price,client_income_type,education,family_status,housing_situation,car_age,client_ocupation,family_members,region_rating,city_rating,ext_score_1,ext_score_2,ext_score_3,obs_30,def_30,obs_60,def_60,req_hour,req_day,req_week,req_mon,req_qrt,req_year,category
0,100002,High Risk,Cash loans,M,No,Yes,0,202500.0,406597.5,2058.4,24700.5,17,Middle Term,0.15,0.25,0.35,0.45,0.55,351000.0,Working,Secondary,Single,Ownership,12.06,Laborers,1,2,2,0.08,0.26,0.14,2,2,2,2,0,0,0,0,0,1,Low Risk
1,100003,Low Risk,Cash loans,F,No,No,0,270000.0,1293502.5,2974.9,35698.5,37,Methuselah,0.25,0.35,0.45,0.55,0.65,1129500.0,State servant,Higher education,Married,Ownership,12.06,Core,2,1,1,0.31,0.62,0.51,1,0,1,0,0,0,0,0,0,0,High Risk
2,100004,Low Risk,Revolving loans,M,Yes,Yes,0,67500.0,135000.0,562.5,6750.0,20,Long Term,0.20,0.30,0.40,0.50,0.60,135000.0,Working,Secondary,Single,Ownership,26.00,Laborers,1,2,2,0.50,0.56,0.73,0,0,0,0,0,0,0,0,0,0,Low Risk
3,100006,Low Risk,Cash loans,F,No,Yes,0,135000.0,312682.5,2473.9,29686.5,11,Middle Term,0.15,0.25,0.35,0.45,0.55,297000.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.65,0.51,2,0,2,0,0,0,0,0,0,2,Low Risk
4,100007,Low Risk,Cash loans,M,No,Yes,0,121500.0,513000.0,1822.1,21865.5,24,Long Term,0.20,0.30,0.40,0.50,0.60,513000.0,Working,Secondary,Single,Ownership,12.06,Core,1,2,2,0.50,0.32,0.51,0,0,0,0,0,0,0,0,0,0,Low Risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,456251,Low Risk,Cash loans,M,No,No,0,157500.0,254700.0,2296.5,27558.0,10,Middle Term,0.15,0.25,0.35,0.45,0.55,225000.0,Working,Secondary,Separated,Living with parents,12.06,Sales,1,1,1,0.15,0.68,0.51,0,0,0,0,0,0,0,0,0,2,Low Risk
307501,456252,Low Risk,Cash loans,F,No,Yes,0,72000.0,269550.0,1000.1,12001.5,23,Long Term,0.20,0.30,0.40,0.50,0.60,225000.0,Pensioner,Secondary,Widow,Ownership,12.06,Laborers,1,2,2,0.50,0.12,0.51,0,0,0,0,0,0,0,0,0,2,Low Risk
307502,456253,Low Risk,Cash loans,F,No,Yes,0,153000.0,677664.0,2498.2,29979.0,23,Long Term,0.20,0.30,0.40,0.50,0.60,585000.0,Working,Higher education,Separated,Ownership,12.06,Managers,1,3,3,0.74,0.54,0.22,6,0,6,0,1,0,0,1,0,1,Low Risk
307503,456254,High Risk,Cash loans,F,No,Yes,0,171000.0,370107.0,1683.8,20205.0,19,Middle Term,0.15,0.25,0.35,0.45,0.55,319500.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.51,0.66,0,0,0,0,0,0,0,0,0,0,Low Risk
307504,456255,Low Risk,Cash loans,F,No,No,0,157500.0,675000.0,4093.1,49117.5,14,Middle Term,0.15,0.25,0.35,0.45,0.55,675000.0,Working,Higher education,Married,Ownership,12.06,Laborers,2,1,1,0.73,0.71,0.11,0,0,0,0,0,0,0,2,0,1,Low Risk

In [23]:
risk_tg.def_10.value_counts()

def_10
0.40    132140
0.35    105769
0.45     64804
0.25      4792
Name: count, dtype: int64

In [24]:
risk_tg.def_15.value_counts()

def_15
0.50    132140
0.45    105769
0.55     64804
0.35      4792
Name: count, dtype: int64

In [25]:
risk_tg.def_20.value_counts()

def_20
0.60    132140
0.55    105769
0.65     64804
0.45      4792
Name: count, dtype: int64

In [26]:
# Check if acumulate over 0.6

risk_tg['category'] = 'Low Risk'
conditions = (risk_tg['def_initial'] >= 0.6) | (risk_tg['def_5'] >= 0.6) | (risk_tg['def_10'] >= 0.6) | (risk_tg['def_15'] >= 0.6) | (risk_tg['def_20'] >= 0.6)
risk_tg.loc[conditions, 'category'] = 'High Risk'

risk_tg

,id,target,loan_type,gender,own_car,own_realty,children,client_income,credit_amount,loan_mon,loan_annuity,loan_year,loan_term,def_initial,def_5,def_10,def_15,def_20,goods_price,client_income_type,education,family_status,housing_situation,car_age,client_ocupation,family_members,region_rating,city_rating,ext_score_1,ext_score_2,ext_score_3,obs_30,def_30,obs_60,def_60,req_hour,req_day,req_week,req_mon,req_qrt,req_year,category
0,100002,High Risk,Cash loans,M,No,Yes,0,202500.0,406597.5,2058.4,24700.5,17,Middle Term,0.15,0.25,0.35,0.45,0.55,351000.0,Working,Secondary,Single,Ownership,12.06,Laborers,1,2,2,0.08,0.26,0.14,2,2,2,2,0,0,0,0,0,1,Low Risk
1,100003,Low Risk,Cash loans,F,No,No,0,270000.0,1293502.5,2974.9,35698.5,37,Methuselah,0.25,0.35,0.45,0.55,0.65,1129500.0,State servant,Higher education,Married,Ownership,12.06,Core,2,1,1,0.31,0.62,0.51,1,0,1,0,0,0,0,0,0,0,High Risk
2,100004,Low Risk,Revolving loans,M,Yes,Yes,0,67500.0,135000.0,562.5,6750.0,20,Long Term,0.20,0.30,0.40,0.50,0.60,135000.0,Working,Secondary,Single,Ownership,26.00,Laborers,1,2,2,0.50,0.56,0.73,0,0,0,0,0,0,0,0,0,0,High Risk
3,100006,Low Risk,Cash loans,F,No,Yes,0,135000.0,312682.5,2473.9,29686.5,11,Middle Term,0.15,0.25,0.35,0.45,0.55,297000.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.65,0.51,2,0,2,0,0,0,0,0,0,2,Low Risk
4,100007,Low Risk,Cash loans,M,No,Yes,0,121500.0,513000.0,1822.1,21865.5,24,Long Term,0.20,0.30,0.40,0.50,0.60,513000.0,Working,Secondary,Single,Ownership,12.06,Core,1,2,2,0.50,0.32,0.51,0,0,0,0,0,0,0,0,0,0,High Risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,456251,Low Risk,Cash loans,M,No,No,0,157500.0,254700.0,2296.5,27558.0,10,Middle Term,0.15,0.25,0.35,0.45,0.55,225000.0,Working,Secondary,Separated,Living with parents,12.06,Sales,1,1,1,0.15,0.68,0.51,0,0,0,0,0,0,0,0,0,2,Low Risk
307501,456252,Low Risk,Cash loans,F,No,Yes,0,72000.0,269550.0,1000.1,12001.5,23,Long Term,0.20,0.30,0.40,0.50,0.60,225000.0,Pensioner,Secondary,Widow,Ownership,12.06,Laborers,1,2,2,0.50,0.12,0.51,0,0,0,0,0,0,0,0,0,2,High Risk
307502,456253,Low Risk,Cash loans,F,No,Yes,0,153000.0,677664.0,2498.2,29979.0,23,Long Term,0.20,0.30,0.40,0.50,0.60,585000.0,Working,Higher education,Separated,Ownership,12.06,Managers,1,3,3,0.74,0.54,0.22,6,0,6,0,1,0,0,1,0,1,High Risk
307503,456254,High Risk,Cash loans,F,No,Yes,0,171000.0,370107.0,1683.8,20205.0,19,Middle Term,0.15,0.25,0.35,0.45,0.55,319500.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.51,0.66,0,0,0,0,0,0,0,0,0,0,Low Risk
307504,456255,Low Risk,Cash loans,F,No,No,0,157500.0,675000.0,4093.1,49117.5,14,Middle Term,0.15,0.25,0.35,0.45,0.55,675000.0,Working,Higher education,Married,Ownership,12.06,Laborers,2,1,1,0.73,0.71,0.11,0,0,0,0,0,0,0,2,0,1,Low Risk

In [28]:
risk_tg.category.value_counts()

category
High Risk    196944
Low Risk     110561
Name: count, dtype: int64

In [29]:
# Testing the new scoring


contingency_table = pd.crosstab(risk_tg['target'], risk_tg['category'], margins=True)

print(contingency_table)

print()

conf_matrix = confusion_matrix(risk_tg['target'], risk_tg['category'])


print(conf_matrix)

print()

# Classification report
print(classification_report(risk_tg['target'], risk_tg['category']))

category   High Risk  Low Risk     All
target
High Risk      14954      9871   24825
Low Risk      181990    100690  282680
All           196944    110561  307505

[[ 14954   9871]
 [181990 100690]]

              precision    recall  f1-score   support

   High Risk       0.08      0.60      0.13     24825
    Low Risk       0.91      0.36      0.51    282680

    accuracy                           0.38    307505
   macro avg       0.49      0.48      0.32    307505
weighted avg       0.84      0.38      0.48    307505

In [33]:
# Check if acumulate over 0.65

risk_tg['category'] = 'Low Risk'
conditions = (risk_tg['def_initial'] >= 0.65) | (risk_tg['def_5'] >= 0.65) | (risk_tg['def_10'] >= 0.65) | (risk_tg['def_15'] >= 0.65) | (risk_tg['def_20'] >= 0.65)
risk_tg.loc[conditions, 'category'] = 'High Risk'

risk_tg.category.value_counts()

category
Low Risk     242701
High Risk     64804
Name: count, dtype: int64

In [34]:
# Testing the new scoring


contingency_table = pd.crosstab(risk_tg['target'], risk_tg['category'], margins=True)

print(contingency_table)

print()

conf_matrix = confusion_matrix(risk_tg['target'], risk_tg['category'])


print(conf_matrix)

print()

# Classification report
print(classification_report(risk_tg['target'], risk_tg['category']))

category   High Risk  Low Risk     All
target
High Risk       4150     20675   24825
Low Risk       60654    222026  282680
All            64804    242701  307505

[[  4150  20675]
 [ 60654 222026]]

              precision    recall  f1-score   support

   High Risk       0.06      0.17      0.09     24825
    Low Risk       0.91      0.79      0.85    282680

    accuracy                           0.74    307505
   macro avg       0.49      0.48      0.47    307505
weighted avg       0.85      0.74      0.78    307505