In [1]:
# Paso 0: Importar las librerias necesarias para realizar el análisis del modelo

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, classification_report
import numpy as np

In [2]:
# Paso 0: Comprobar nuevamente la carpeta en la que estamos trabajando con '%ls'

%ls

 El volumen de la unidad C es Windows
 El número de serie del volumen es: 788B-24D1

 Directorio de C:\Users\javie\OneDrive\Escritorio\Ironhack\Semana 3\Banking-Risk\data\clean data

02/02/2024  11:40    <DIR>          .
02/02/2024  10:20    <DIR>          ..
02/02/2024  11:36    <DIR>          .ipynb_checkpoints
01/02/2024  16:26           147.594 1.1 - Cleaning dataset.ipynb
01/02/2024  17:07           123.363 1.2 - Analysis.ipynb
02/02/2024  11:34            32.910 1.3 - Scoring 1.ipynb
02/02/2024  11:35            23.506 1.4 - Model 1.ipynb
31/01/2024  18:41       166.133.370 application_data.csv
02/02/2024  11:40            32.183 Model 2.ipynb
02/02/2024  11:27        64.066.224 Model_1.csv
02/02/2024  11:37        74.032.621 Model_2.csv
01/02/2024  15:44        51.924.049 risk_df.csv
02/02/2024  11:39            60.584 scoring_2.ipynb
02/02/2024  11:23                72 Untitled.ipynb
02/02/2024  11:35                72 Untitled1.ipynb
              12 archivos    356.576.548 bytes
               3 dirs  375.235.096.576 bytes libres

In [3]:
# Paso 0: Ajustar el display del Dataframe para poder desplegar el total de columnas del dataset original.

pd.options.display.max_columns = 70
pd.options.display.max_rows = 122

In [4]:
# Paso 1: Crear un nuevo Dataframe del dataset limpio.

risk_tg = pd.read_csv('Model_2.csv')

In [5]:
# Paso 2: Desplegar el Dataframe para chequear las variables iniciales

risk_tg

,id,target,loan_type,gender,own_car,own_realty,children,client_income,credit_amount,loan_annuity,loan_mon,loan_year,loan_term,def_initial,def_5,def_10,def_15,def_20,goods_price,client_income_type,education,family_status,housing_situation,car_age,client_ocupation,family_members,region_rating,city_rating,ext_score_1,ext_score_2,ext_score_3,obs_30,def_30,obs_60,def_60,req_hour,req_day,req_week,req_mon,req_qrt,req_year,category
0,100002,High Risk,Cash loans,M,No,Yes,0,202500.0,406597.5,24700.5,2058.4,17,Middle Term,0.15,0.25,0.35,0.45,0.55,351000.0,Working,Secondary,Single,Ownership,12.06,Laborers,1,2,2,0.08,0.26,0.14,2,2,2,2,0,0,0,0,0,1,Low Risk
1,100003,Low Risk,Cash loans,F,No,No,0,270000.0,1293502.5,35698.5,2974.9,37,Methuselah,0.25,0.35,0.45,0.55,0.65,1129500.0,State servant,Higher education,Married,Ownership,12.06,Core,2,1,1,0.31,0.62,0.51,1,0,1,0,0,0,0,0,0,0,High Risk
2,100004,Low Risk,Revolving loans,M,Yes,Yes,0,67500.0,135000.0,6750.0,562.5,20,Long Term,0.20,0.30,0.40,0.50,0.60,135000.0,Working,Secondary,Single,Ownership,26.00,Laborers,1,2,2,0.50,0.56,0.73,0,0,0,0,0,0,0,0,0,0,High Risk
3,100006,Low Risk,Cash loans,F,No,Yes,0,135000.0,312682.5,29686.5,2473.9,11,Middle Term,0.15,0.25,0.35,0.45,0.55,297000.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.65,0.51,2,0,2,0,0,0,0,0,0,2,Low Risk
4,100007,Low Risk,Cash loans,M,No,Yes,0,121500.0,513000.0,21865.5,1822.1,24,Long Term,0.20,0.30,0.40,0.50,0.60,513000.0,Working,Secondary,Single,Ownership,12.06,Core,1,2,2,0.50,0.32,0.51,0,0,0,0,0,0,0,0,0,0,High Risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307500,456251,Low Risk,Cash loans,M,No,No,0,157500.0,254700.0,27558.0,2296.5,10,Middle Term,0.15,0.25,0.35,0.45,0.55,225000.0,Working,Secondary,Separated,Living with parents,12.06,Sales,1,1,1,0.15,0.68,0.51,0,0,0,0,0,0,0,0,0,2,Low Risk
307501,456252,Low Risk,Cash loans,F,No,Yes,0,72000.0,269550.0,12001.5,1000.1,23,Long Term,0.20,0.30,0.40,0.50,0.60,225000.0,Pensioner,Secondary,Widow,Ownership,12.06,Laborers,1,2,2,0.50,0.12,0.51,0,0,0,0,0,0,0,0,0,2,High Risk
307502,456253,Low Risk,Cash loans,F,No,Yes,0,153000.0,677664.0,29979.0,2498.2,23,Long Term,0.20,0.30,0.40,0.50,0.60,585000.0,Working,Higher education,Separated,Ownership,12.06,Managers,1,3,3,0.74,0.54,0.22,6,0,6,0,1,0,0,1,0,1,High Risk
307503,456254,High Risk,Cash loans,F,No,Yes,0,171000.0,370107.0,20205.0,1683.8,19,Middle Term,0.15,0.25,0.35,0.45,0.55,319500.0,Working,Secondary,Married,Ownership,12.06,Laborers,2,2,2,0.50,0.51,0.66,0,0,0,0,0,0,0,0,0,0,Low Risk
307504,456255,Low Risk,Cash loans,F,No,No,0,157500.0,675000.0,49117.5,4093.1,14,Middle Term,0.15,0.25,0.35,0.45,0.55,675000.0,Working,Higher education,Married,Ownership,12.06,Laborers,2,1,1,0.73,0.71,0.11,0,0,0,0,0,0,0,2,0,1,Low Risk

In [6]:
# Paso 3: Testear el modelo con la nueva variable generada en el paso anterior

contingency_table = pd.crosstab(risk_tg['target'], risk_tg['category'], margins=True)

print(contingency_table)

print()

conf_matrix = confusion_matrix(risk_tg['target'], risk_tg['category'])

print(conf_matrix)

print()

# Classification report
print(classification_report(risk_tg['target'], risk_tg['category']))

category   High Risk  Low Risk     All
target
High Risk      14939      9886   24825
Low Risk      181797    100883  282680
All           196736    110769  307505

[[ 14939   9886]
 [181797 100883]]

              precision    recall  f1-score   support

   High Risk       0.08      0.60      0.13     24825
    Low Risk       0.91      0.36      0.51    282680

    accuracy                           0.38    307505
   macro avg       0.49      0.48      0.32    307505
weighted avg       0.84      0.38      0.48    307505

In [7]:
# Paso 4: Establecer una nueva clasificación modificando la probabilidad acumulada de default.

risk_tg['category'] = 'Low Risk'

# En vez de 0.6, utilizar un defaul de 0.65

conditions = (risk_tg['def_initial'] >= 0.65) | (risk_tg['def_5'] >= 0.65) | (risk_tg['def_10'] >= 0.65) | (risk_tg['def_15'] >= 0.65) | (risk_tg['def_20'] >= 0.65)
risk_tg.loc[conditions, 'category'] = 'High Risk'

risk_tg.category.value_counts()

category
Low Risk     242909
High Risk     64596
Name: count, dtype: int64

In [8]:
# Paso 5: Testear el modelo con la variable modificada.

contingency_table = pd.crosstab(risk_tg['target'], risk_tg['category'], margins=True)

print(contingency_table)

print()

conf_matrix = confusion_matrix(risk_tg['target'], risk_tg['category'])


print(conf_matrix)

print()

# Classification report
print(classification_report(risk_tg['target'], risk_tg['category']))

category   High Risk  Low Risk     All
target
High Risk       4135     20690   24825
Low Risk       60461    222219  282680
All            64596    242909  307505

[[  4135  20690]
 [ 60461 222219]]

              precision    recall  f1-score   support

   High Risk       0.06      0.17      0.09     24825
    Low Risk       0.91      0.79      0.85    282680

    accuracy                           0.74    307505
   macro avg       0.49      0.48      0.47    307505
weighted avg       0.85      0.74      0.78    307505